.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 999;
  gap: 30px;
      padding-bottom: 14%;
  /* display: none; */
}

.home__selector {
  display: flex;
  gap: 56px;
}
.home__selector div {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.disabled_event {
  opacity: 0.5;
  /* pointer-events: none; */
  position: relative;
  width: max-content;
}
.disabled_event span:nth-child(2) {
  font-size: 16px;
}
/* .disabled_event::after {
  content: 'soon';
  font-size: 16px;
  position: absolute;
  bottom: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
} */